.info {
    max-width: 520px;
    text-align: start;
    height: auto;
    color: white;

}

.new {
    color: goldenrod;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

.bio {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}