.info {
    max-width: 620px;
    text-align: start;
    height: auto;
    color: white;

}

.new {
    color: goldenrod;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

.bio {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    border-radius: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    height: 52px;
    width: 200px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.buttons button:hover{
    transform: scale(1.03);
}

.play-btn {
    color: white;
    background-color: #85BCBF;
}

.favorite-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white !important; 
}

.share-btn {
    background-color: transparent;
    color: #B9B9B9;
    width: 120px !important;
}

a {
    text-decoration: none;
}