html, body {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    flex-direction: column;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
}