.faixas-ctn{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.faixas{
    padding-top: 13%;
    color: white;
    align-items: start;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header h3{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.header p{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    color: #B9B9B9;
}

button{
    border-radius: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    height: 50px;
    width: 230px;
    gap: 8px;
    display: flex;
    align-items: center;
}

button:hover{
    transform: scale(1.03);
}

.play-btn {
    color: white;
    background-color: #85BCBF;
}