.footer-ctn {
    width: 100%;
    background-color: #425757;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

img{
    width: 300px;
    height: 82px;
    padding-bottom: 10px;
}

.owner p{
    font-size: 14px;
    color: #b9b9b9;
}

.owner a{
    text-decoration: none;
    color: #b9b9b9;
}

.owner a:hover{
    text-decoration: underline;
    color: #b9b9b9;
}

p{
    color: #b9b9b9;
    font-size: 18px;
    margin: 0;
}