.musicCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.albumPhoto{
    background-color: aliceblue;
    width: 400px;
    height: 400px;
    border-radius: 24px;
}

.albumPhoto img{
    width: 400px;
    height: 400px;
    border-radius: 24px;
    box-shadow: 0 8px 12px 0 rgba(255, 255, 255, 0.19), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.spotify-link{
    width: 400px;
}